image: {{ image_registry }}

pipelines:
  pull-requests:
    '**': #this runs as default for any branch not elsewhere defined
{% for ci_path in ci_path_list  %}
      - step:
          name: terragrunt-plan-{{ ci_path.path.parent }}
{% if ci_path.environment and (not disable_environments) %}
          deployment: {{ ci_path.environment }}
{% endif %}
          script:
            - export AWS_ACCESS_KEY_ID="${{ ci_path.account |upper }}_AWS_ACCESS_KEY_ID"
            - export AWS_SECRET_ACCESS_KEY="${{ ci_path.account |upper }}_AWS_SECRET_ACCESS_KEY"
            - mkdir -p ~/.ssh
            - echo "$BITBUCKET_DEPLOY_KEY" | tr -d '\r' > ~/.ssh/id_rsa
            - chmod 600 ~/.ssh/id_rsa
            - eval $(ssh-agent -s)
            - ssh-add ~/.ssh/id_rsa
{% for extra_known_host in extra_known_hosts %}
            - ssh-keyscan -H {{ extra_known_host }} >> ~/.ssh/known_hosts
{% endfor %}
            - ssh-keyscan -H github.com >> ~/.ssh/known_hosts
            - cd {{ ci_path.path.parent }}
            - tfenv install
            - terragrunt plan -input=false -refresh=true
          condition:
            changesets:
              includePaths:
                - "{{ ci_path.path.parent }}/*"
{% endfor %}
  branches:
    master:
{% for ci_path in ci_path_list  %}
      - step:
          name: terragrunt-apply-{{ ci_path.path.parent }}
{% if ci_path.environment and (not disable_environments) %}
          deployment: {{ ci_path.environment }}
{% endif %}
          script:
            - export AWS_ACCESS_KEY_ID="${{ ci_path.account |upper }}_AWS_ACCESS_KEY_ID"
            - export AWS_SECRET_ACCESS_KEY="${{ ci_path.account |upper }}_AWS_SECRET_ACCESS_KEY"
            - mkdir -p ~/.ssh
            - echo "$BITBUCKET_DEPLOY_KEY" | tr -d '\r' > ~/.ssh/id_rsa
            - chmod 600 ~/.ssh/id_rsa
            - eval $(ssh-agent -s)
            - ssh-add ~/.ssh/id_rsa
{% if extra_known_host %}
            - ssh-keyscan -H {{ extra_known_host }} >> ~/.ssh/known_hosts
{% endif %}
            - ssh-keyscan -H github.com >> ~/.ssh/known_hosts
            - cd {{ ci_path.path.parent }}
            - tfenv install
            - terragrunt apply -input=false -refresh=false -auto-approve=true
          condition:
            changesets:
              includePaths:
                - "{{ ci_path.path.parent }}/*"
{% endfor %}

